.header-wrapper {
  width: 80vw;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
    font-weight: 400;
    @include media(">=phone", "<lgphone") {
      font-size: 14px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 16px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 16px;
    }
  }
  .heading-wrapper {
    h1 {
      font-size: 4.5rem;
      text-align: center;
      line-height: 0.6;
      @include media(">=phone", "<lgphone") {
        font-size: 1.65rem;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 2.3rem;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 4rem;
      }
    }
  }
  p {
    width: 60%;
    text-align: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
    }
  }
}
