.navbar-wrapper {
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: #eee;
  z-index: 9999;
  @include media(">=tablet") {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: calc(100vw - 10rem);
  }
  .name {
    font-weight: 600;
    display: flex;
    align-items: center;
    img {
      padding: 2px;
      border: 1px solid black;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
  .links-wrapper {
    margin-left: 2rem;
    @include media(">=desktop") {
      margin-left: 0;
    }
    button,
    a {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 13px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      color: black;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: black;
    }
  }
}
