.skills-container {
  width: 80vw;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 50px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h3 {
        margin: 15px 0 5px;
      }
      img {
        height: 4rem;
      }
      p {
        margin: 0;
        font-size: 14px;
      }
      .link {
        font-weight: 600;
        color: #999;
        padding: 0 5px;
        white-space: nowrap;
      }
    }
  }
}
